<!--这个nav是左边的东西-->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <!--左边栏的内容-->
        <ul class="nav" id="main-menu">
            <li>
                <a href="#" id="hospital_wh"><i class="fa fa-fw fa-file"></i> 医院维护 </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">医院</a>
                    </li>
                    <li>
                        <a href="#">科室</a>
                    </li>
                    <li>
                        <a href="#">医生</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#" id="user_wh"><i class="fa fa-fw fa-file"></i> 用户维护 </a>
            </li>
            <li>
                <a href="#" id="reservation_wh"><i class="fa fa-fw fa-file"></i> 出诊维护 </a>
            </li>
            <!--li>
                <a href="#" id="magry_team"><i class="fa fa-fw fa-file"></i> 团队<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">团队列表</a>
                    </li>
                    <li>
                        <a href="#">我的团队</a>
                    </li>
                    <li>
                        <a href="#">组建团队</a>
                    </li>
                </ul>
            </li-->

        </ul>
    </div>
</nav>

<script>

</script>

