<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>在线预约挂号系统后台</title>

    <script type="text/javascript" src="/static/4assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="/static/4assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script type="text/javascript" src="/static/4assets/js/jquery.metisMenu.js"></script>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/jiaowu.css" type="text/css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


    <link href="/static/css/jiaowu.css" type="text/css" rel="stylesheet" />

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type='text/javascript' src=" {% static 'js/addheader.js' %}"></script>
    <script type='text/javascript' src="{%  static 'js/addadmin_left.js' %}"></script>

</head>
<body>
<!--wrapper 是根节点，最外层的div容器-->
<div id="wrapper">

    <!--最上面的导航栏集成于.headerer-->
    <div class="headerer">


    </div>


    <!--这个nav是左边的东西-->
    <div class="admin_left">

    </div>
    <div style="display:none;">
      <input id="cou_id_holder" value="{{cou.id}}" >
    </div>

    <!--  这个page-wrapper是右边   -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                系统后台
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
                <li><a href="../../">{{cou.name}}</a></li>
                <li class="active">信息维护</li>
            </ol>
        </div>

        <!--这是我们操作的主题框-->
        <div id="page-inner">
            <!--新增课程表格-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">系统管理员:</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">医院信息维护</label>
                                    <div class="col-sm-10">
                                        <button onclick="location.href='/OnlineRegister/admin_hos_wh/'">医院</button>
                                        <button onclick="location.href='/OnlineRegister/show_department/'">科室</button>
                                        <button onclick="location.href='/OnlineRegister/show_doctor/'">医生</button>
                                    </div>
                                </div>

                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-offset-2 col-sm-10">-->
                                        <!--<button type="submit" class="btn btn-default">提交</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户信息维护</label>
                                    <div class="col-sm-10">
                                        <button>挂号处</button>
                                        <button>分诊台</button>
                                        <button>普通用户</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">预约信息维护</label>
                                    <div class="col-sm-10">
                                        <button onclick="location.href='/OnlineRegister/to_be_registered/'">可预约名额</button>
                                        <button onclick="location.href='/OnlineRegister/reservation/'">已预约查看</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
</div>
<!-- /. PAGE WRAPPER  -->

<!-- /. WRAPPER  -->

<!-- JS Scripts-->
<!-- jQuery Js -->







<!-- Custom Js -->
<!--<script src="assets/js/custom-scripts.js"></script>-->
<!--添加头部和左部js-->

<script>


</script>
<!--添加教师页nav左边js-->






</body>
</html>
