<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
</head>
<body>
    <form method="post" action="/OnlineRegister/creat_reservation/">
        <label>订单生成时间：<td>{{ reservation_order.createdTime|date:"Y-m-d H:i:s" }}</td></label>
        <input name="reservation_order_id" value="{{reservation_order.id}}" style="display: none">
        <input name="toBeR_id" value="{{reservation_order.toBeRegistered_id_id}}" style="display: none">
        <input name="doc_id" value="{{doc_id}}" style="display: none">
        <input name="date" value="{{ date }}" style="display: none" >
        <input name="user_id" value="{{user_id}}" style="display: none">


        <button type="submit">确认付款</button>
    </form>

</body>
</html>