<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约订单详情</title>
</head>
<body>
    <form method="post" action="/OnlineRegister/creat_reservation_order/">
    <label>预约订单详情：</label>
    <br>
    <label>挂号者姓名：{{ user.name }}</label><input name="user_id" value="{{user.id}}" style="display: none">
    <br>
    <label>身份证号码：{{ user.id_number }}</label>
    <br>
    <label>手机号：{{ user.phone_number }}</label>
    <br>

    <label>医院：{{ hos.name }}</label>
    <br>
    <label>科室：{{ dep1.name }},{{ dep2.name }}</label>
    <br>
    <label>医生：{{ doc.name }}({{ doc.position }})</label><input name="doc_id" value="{{doc.id}}" style="display: none">
    <br>
        <label>应就诊日期：<td>{{ toBeRegistered.date|date:"Y-m-d" }}</td></label><input name="date" value="{{ toBeRegistered.date|date:"Y-m-d H:i:s" }}" style="display: none">
        <input name="toBeRegistered_id" value="{{toBeRegistered.id}}" style="display: none">
    <br>

    <br>
    <button type="submit">提交订单</button>
    </form>
</body>
</html>